<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">product</th>
        <th scope="col">size</th>
        <th scope="col">price</th>
        <th scope="col">stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">cuaderno</th>
        <td>{{cuadernoA5.size}}</td>
        <td>{{cuadernoA5.price}}</td>
        <td>{{cuadernoA5.stock}}</td>
      </tr>
      <tr>
        <th scope="row">cuaderno</th>
        <td>A4</td>
        <td>300</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">cuaderno</th>
        <td>A3</td>
        <td>500</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
